################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/OnBoardSDK/bin/Debug
/.vs
/OnBoardSDK/obj
/OnBoardSDK.MF/bin/Debug
/OnBoardSDK.MF/obj/Debug
